body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #000;
  background: #fff;
}

.welcome {
  display: none;
}

.channels {
  display: flex;
  margin: 0;
  padding: 0;
  background: linear-gradient(#fff, #e6e6e6);
  border-bottom: 1px solid #ccc;
}
.channels > li {
  list-style: none;
  flex: 1;
  margin: 0;
  padding: 8px 0;
  font-size: 11px;
  font-weight: 500;
  color: #999;
  text-align: center;
  border-left: 1px solid #ccc;
  cursor: pointer
}
.channels > li.active {
  color: #333;
}
.channels > li:first-child {
  border-left: none;
}
