.messages {
  overflow-y: scroll;
  height: 500px;
}

.message {
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 14px;
  padding: 5px 10px 5px 44px;
}

.message:last-child {
  border-bottom: 0;
}

.message .avatar {
  border-radius: 3px;
  float: left;
  height: auto;
  margin-left: -35px;
  margin-top: 3px;
  width: 28px;
}

.message .mini-avatar {
  border-radius: 2px;
  float: left;
  height: auto;
  margin: 2px 5px 0 0;
  width: 16px;
}

.message h2, h3, h4 {
  margin: 0;
  color: #000;
}

.message a:link {
  color: #33a2b8;
  text-decoration: none;
}

.message h4.author {
  margin: 0;
  color: #000;
}

/* So dirty. */
.message + .has-attachment {
  border-top: 1px solid #fff;
  margin-top: -1px;
}

.attachment {
  margin-bottom: 9px;
  padding-left: 10px;
  border-left: 4px solid #eee;
}

.attachment h2 {
  font-size: 16px;
  margin: 2px 0 5px;
}

.attachment h3 {
  color: #555;
  font-size: 14px;
  font-weight: bold;
}

.attachment h4 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 3px;
}

.attachment p {
  margin: 0 0 7px;
  line-height: 1.45;
}

.attachment .twitter-handle {
  color: #999;
  font-weight: 300;
  margin-left: 6px;
}

.attachment .twitter-name {
  color: #555;
}

.attachment .text {
  margin: 6px 0;
}

.attachment .chat-image {
  max-width: 350px;
}
