<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SlackHQ</title>
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script>
      window.$ = require('jquery')
      require("coffee-script/register")
      require("../src/run")
    </script>
  </head>
  <body>
    <h1>Hey <script>document.write(process.env['USER'])</script>!</h1>
      <p>We are using io.js <script>document.write(process.version)</script>,
      Electron <script>document.write(process.versions['electron'])</script>,
      and React.</p>

    <ul id="messages"></ul>
    <script type="text/jsx">
      var MessageBox = React.createClass({
        render: function() {
          return (
            <li className="messageBox">
              Hello, world! I am a MessageBox.
            </li>
          );
        }
      });
      React.render(
        <MessageBox />,
        document.getElementById("messages")
      );
    </script>
  </body>
</html>
