<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SlackHQ</title>
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script>
      window.$ = require('jquery')
      require("coffee-script/register")
      require("../src/main")
    </script>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/teams_sidebar.css">
    <link rel="stylesheet" href="../css/messages.css">
  </head>
  <body>
    <div class="scroll-wrapper">
      <div id="chat-app"></div>
    </div>
  </body>
</html>
